version: '3'

services:
    broker:
        image: emqx/emqx:v4.1.4-alpine-amd64  
        ports:
            - 1883:1883
    client:
        build: ./client
        links:
            - broker
    sensor:
        build: ./sensor
        links:
            - broker