version: '3'

services:
    broker:
        image: vernemq/vernemq
        environment:
            DOCKER_VERNEMQ_ALLOW_ANONYMOUS: 'on'
            DOCKER_VERNEMQ_ACCEPT_EULA: 'yes'
            DOCKER_VERNEMQ_LISTENER__TCP__ALLOWED_PROTOCOL_VERSIONS: '3,4,5'
        ports:
            - 1883:1883
    client:
        build: ./client
        links:
            - broker
    sensor:
        build: ./sensor
        links:
            - broker